/* Portfolio Website Styles */
/* Globals */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

*,
*::before,
*::after{
	box-sizing: border-box
}

:root {
  /*why is this gray?? */
}

a {
  color: #357b70;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300px;
}

/* is button redundant here? */
p, a, input, button, .button, label, textarea {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  color: amber;
}

a:active {
  color: #489c79;
}

a {
  text-decoration: none;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: navy;
  color: white;
  text-decoration: none;
  -webkit-text-decoration-color: white;
  text-decoration-color: white;
  padding: 25px;
  border-radius: 25px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* what is this? */
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: steelblue;
  color: white;
  text-decoration: none;
  -webkit-text-decoration-color: white;
  text-decoration-color: white;
  padding: 100px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* what is this? */
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

li {
  list-style: none;
}

/* Header */
header {
  background: url(../img/header.jpg);
  background-size: cover;
  background-position: center right;
  background-color: black;
  /* background-blend-mode: luminosity; blend breaks due to variable?? */
  height: 250px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 5px rgb(245, 245, 245);
  box-shadow: 5px 5px 5px rgb(245, 245, 245);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0 93%);
  /* clip-path: polygon(0 0, 100% 0, 100% 78%, 0 93%); */
}

.title-text {
  color: rgb(245, 245, 245);
  line-height: .5;
  position: absolute;
  left: 65px;
  top: 100px;
}

/* Nav */
nav {
  position: sticky;
  /* try position: sticky; top: 0; */
  width: 100%;
  height: 65px;
  padding: 15px 65px;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  float: left;
  width: 125px;
}

nav ul {
  float: right;
}

nav li {
  display: inline;
  padding: 0 0 0 50px;
}

nav a {
  color: rgb(245, 245, 245);
  letter-spacing: 3px;
  font-weight: 520;
}

/* Main Centered Content Areas / About Me Page  */
.main {
  width: 100%;
  text-align: center;
  display: table;
  position: relative;
}

.inner-content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.inner-content img {
  width: 150px;
  text-align: center;
  /* margin: 5px; */
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
}

table {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

table tr:nth-child(odd) {
  background: rgb(224, 224, 224);
}

/* Contact Page */
.profile {
  margin: 0 auto;
  max-width: 800px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px #0000001c;
  box-shadow: 5px 5px 20px #0000001c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.contact-panel {
  margin: 0 auto;
  max-width: 800px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px #0000001c;
  box-shadow: 5px 5px 20px #0000001c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.contact-panel h1 {
  font-size: 34px;
  font-weight: 300;
}

.contact-panel .fa {
  color: rgb(245, 245, 245);
  font-size: 22px;
}

.contact-panel .call-block {
  background: navy;
  width: 50%;
  float: left;
  padding: 25px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.24) !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-panel .email-block {
  background: cornflowerblue;
  width: 50%;
  float: left;
  padding: 25px 0;
  border: none;
}

.email-block:hover, .call-block:hover {
  opacity: .9;
}

.contact-panel h1 {
  padding: 100px 0 0 0;
  color: #383838;
}

.contact-panel p {
  padding-bottom: 50px;
  color: #575757;
}

/* Contact Form */
form {
  padding: 0 25px 35px;
}

form label {
  display: block;
  text-align: left;
  margin: 20px 0;
}

form input {
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  background: ;
  height: 55px;
  color: #383838;
}

form textarea {
  width: 100%;
  height: 100px;
  border: none;
  background: ;
  font-size: 18px;
  color: #383838;
}

form input:last-child {
  border: none;
  padding: 10px;
  background: #0c1ba1;
  border-radius: 100px;
  color: white;
  margin-top: 30px;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

form input:last-child:hover {
  opacity: .9;
  cursor: pointer;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* Work Page */
.work_section {
  padding: 50px;
}

.link {
  font-weight: bold;
}

/* Footer */
footer {
  width: 100%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
}

/* why are these two not the same? first works but second doesn't! */
footer img {
  width: 50px;
  padding: 10px 8px;
}

/*
.social-media {
  width: 25px;
  padding: 10px 8px;
} */
.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 30px;
  border-radius: 50%;
}

.work__thumbnail {
  float: right;
  width: 100px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Grid fallback*/
.grid__item {
  display: inline-block;
  width: 50%;
}

/* Styling CSS grid*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*add 1 more fr as needed*/
  grid-gap: 20px;
}

.grid__item {
  background-color: LightGrey;
  padding: 10px;
  /* Set width to auto*/
  width: auto;
}

.BostonBackground {
  text-align: center;
  background-size: auto;
  width: 100%;
}

.boston__img {
  background-size: cover;
  width: 100%;
}

.clouds {
  width: 100%;
  height: 10%;
  text-align: center;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  to {
    -webkit-transform: translate(200px, 0px);
    transform: translate(200px, 0px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
  width: 10%;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(100px, 18px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(-200px, 18px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(100px, 18px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(-200px, 18px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
  width: 10%;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    /*    grid-row: auto / auto;
*/
  }

  h1 {
    font-size: 22px;
  }
}